@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.perspective {
  perspective: 1000px;
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
.scene {
  width: 400px;
  height: 200px;
  perspective: 600px;
  margin-bottom: 0px;
  
}

@media (min-width: 1000px) {
  .scene {
    height: 400px;
    margin-top: 100px;
  }
}
.cube {
  width: 400px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 15s infinite linear;
}
.cube__face {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(128, 90, 213, 0.1);
  backdrop-filter: blur(5px);
  color: white;
  font-size: 1rem;
  text-align: center;
}
.cube__face--front {
  transform: translateZ(200px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(200px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(200px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(200px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(200px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(200px);
}
@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
@media (max-width: 768px) {
  .scene {
    width: 250px;
    height: 250px;
  }
  .cube {
    width: 250px;
    height: 250px;
  }
  .cube__face {
    width: 250px;
    height: 250px;
  }
  .cube__face--front {
    transform: translateZ(125px);
  }
  .cube__face--right {
    transform: rotateY(90deg) translateZ(125px);
  }
  .cube__face--back {
    transform: rotateY(180deg) translateZ(125px);
  }
  .cube__face--left {
    transform: rotateY(-90deg) translateZ(125px);
  }
  .cube__face--top {
    transform: rotateX(90deg) translateZ(125px);
  }
  .cube__face--bottom {
    transform: rotateX(-90deg) translateZ(125px);
  }
}
